/* Globals */
:root
{
    box-sizing: border-box;
    --purple: #8A4D76;
    --pink: #FA7C91;
    --brown: #757763;
    --beige-light: #D0D1CD;
    --beige-lighter: #EFF0EB;
}

ul
{ list-style: none; }

.grid
{
    display: grid;
    grid-template-areas: 
    'msgs'
    'msgbox'
    ;
}

#message-display
{
    grid-area: msgs;
    height:70vh;
    overflow-y: scroll;
}

#chat { grid-area: msgbox; }

#users-in-room { display: none; }

li.menu-item:not(:last-child) { margin-bottom: 1.5rem; }